*,*:before,*:after{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

body{
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #e0e7e7 ;
}

header{
  width:100%;
  margin: 0 auto;
  text-align: center;
}

header h3{
  font-size: 40px;
  margin: 10px auto ;
}

header a{
  text-align: center;
  padding: 10px ;
  background-color: #90b88b;
  text-decoration: none;
  border-radius: 10px;
}

header a:hover{
  background-color: #90b66c;
}

.main-content{
  width: 500px; 
  height: 500px ;
  padding: 20px;
  border-radius: 10px ;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}

.grid-cell{
  border-radius: 10px; 
  background-color: #9fb1be;
  position: absolute;
}

.num-grid-cell{
  position: absolute; 
  font-size: 60px; 
  text-align: center; 
}

.game-over{
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  background-color: red; 
  opacity: 0.5 ;
  z-index: 999;
  text-align: center;
  color: green;
}

